.profile__info {
    margin-left: 30px;
    padding-top: 14.35px;
    max-width: 350px;
}

@media screen and (max-width:590px) {
    .profile__info {
        padding-bottom: 36px;
        padding-top: 12px;
        padding-left: 0;
    }
}