.popup__close {
    background-image: url('../../../images/Close Icon.svg');
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    border: 0;
    position: absolute;
    top: -40px;
    left: 430px;
}

@media screen and (max-width: 510px) {
    .popup__close {
        left: 240px;
        top: -30px;
        width: 30px;
        height: 30px;
    }
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
}