.popup__title_image {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    align-self: flex-start;
    padding-top: 10px;
}