.element__trash {
    background-image: url('../../../images/trash.svg');
    background-size: cover;
    width: 18px;
    height: 19px;
    position: absolute;
    top: 18px;
    right: 15px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    border: 0;
    z-index: 3;
}

.element__trash:hover {
    opacity: 0.6;
    cursor: pointer;
}