  .element__like {
      background-color: #ffffff;
      border: none;
      padding: 0;
      background-image: url('../../../images/Like.svg');
      background-size: contain;
      box-sizing: border-box;
      background-color: rgba(0, 0, 0, 0);
      background-repeat: no-repeat;
      background-position: center;
      padding: 0;
      border: 0;
      height: 18.13px;
      width: 21px;
  }
  
  .element__like:hover {
      cursor: pointer;
      opacity: 0.6;
  }